.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
.vscode

# Bundler
Gemfile.lock
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
.zero-knife.rb
Policyfile.lock.json
.delivery/
Berksfile.lock

# Amazon
ec2_keys/

# build specific
serverbase.code-workspace
serverbase.tar.gz